:root{
    --cor-fundo: #ffffff ;
    --cor-principal: #bc0cd3 ;
    --cor-secundaria: #1900ff;
    --cor-destaque: #09ff00;
    --cor-titulo: #00ffea;

}

body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{

}